# Boolean Variables

In [1]:
False

False

In [2]:
True

True

In [3]:
Print(True, False)

NameError: name 'Print' is not defined

In [4]:
print(True, False)

True False

In [5]:
type(True)

bool

In [6]:
type(False)

bool

In [7]:
my_str='John_ds1'

In [8]:
my_str.istitle()

False

In [9]:
my_str.istitle()

False

In [10]:
print(my_str.isalnum())

False

In [11]:
print(my_str.isalpha())

False

In [12]:
print(my_Str.isdigit())

NameError: name 'my_Str' is not defined

In [13]:
print(my_str.istitle())

False

In [14]:
print(my_str.isdigit())

False

In [15]:
print(my_str.isupper())

False

In [16]:
print(my_str.islower())

False

In [17]:
print(my_str.isspace())

False

In [18]:
print(my_str.startswith('J'))

True

In [19]:
print(my_str.endswith('1'))

True

In [20]:
True and True

True

In [21]:
True and False

False

In [22]:
True or False

True

In [23]:
True or True

True

In [24]:
str_example='hell with it'

In [25]:
my_str='John_ds1'

In [26]:
my_str.isalpha() or str_example.isnum()

AttributeError: 'str' object has no attribute 'isnum'

In [27]:
my_str.isalpha() or str_example.isalnum()

False

# Lists

A list is a data structure in Python that is mutable, or changeable, ordered sequence of elemeents. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brakets []

In [28]:
type([])

list

In [29]:
1st_example=[]

SyntaxError: invalid syntax (<ipython-input-29-cfaab6bd00b4>, line 1)

In [30]:
type(1st_example)

SyntaxError: invalid syntax (<ipython-input-30-77aa90d44175>, line 1)

In [31]:
1st_example= []

SyntaxError: invalid syntax (<ipython-input-31-5448b0aafa05>, line 1)

In [32]:
1st_example= ([])

SyntaxError: invalid syntax (<ipython-input-32-1ff92078b3cd>, line 1)

In [33]:
1st=list()

SyntaxError: invalid syntax (<ipython-input-33-a18d210d3826>, line 1)

In [34]:
type(1st)

SyntaxError: invalid syntax (<ipython-input-34-c3faa3da89fe>, line 1)

In [35]:
1st=['Mathematics','chemistry',100,200,300,204]

SyntaxError: invalid syntax (<ipython-input-35-a4debf459173>, line 1)

In [36]:
mylist = ["apple", "banana", "cherry"]

In [37]:
len(mylist)

3

In [38]:
1st = ['Math','chem', 100,2000,300]

SyntaxError: invalid syntax (<ipython-input-38-fb81204862bb>, line 1)

## Append

In [39]:
#. Append is used to add elements in the list
mylist.append('John')

In [40]:
mylist.append(['prince','DJ'])

In [41]:
mylist

['apple', 'banana', 'cherry', 'John', ['prince', 'DJ']]

In [42]:
mylist.append('krish', 'krunal')

TypeError: append() takes exactly one argument (2 given)

In [43]:
#Indexing in list
mylist[6]

IndexError: list index out of range

In [44]:
mylist

['apple', 'banana', 'cherry', 'John', ['prince', 'DJ']]

In [45]:
mylist[4]

['prince', 'DJ']

In [46]:
mylist[0:5]

['apple', 'banana', 'cherry', 'John', ['prince', 'DJ']]

In [47]:
mylist[0:4]

['apple', 'banana', 'cherry', 'John']

In [48]:
mylist[0:end]

NameError: name 'end' is not defined

In [49]:
mylist[:]

['apple', 'banana', 'cherry', 'John', ['prince', 'DJ']]

# Insert

In [51]:
## insert in a specific order

In [52]:
mylist.insert(5,'naik')

In [53]:
mylist

['apple', 'banana', 'cherry', 'John', ['prince', 'DJ'], 'naik']

In [54]:
mylist.insert('mom')

TypeError: insert expected 2 arguments, got 1

In [55]:
mylist.insert(0,'mom')

In [56]:
mylist

['mom', 'apple', 'banana', 'cherry', 'John', ['prince', 'DJ'], 'naik']

In [57]:
mylist.append(['Hello','world'])

In [58]:
mylist

['mom',
 'apple',
 'banana',
 'cherry',
 'John',
 ['prince', 'DJ'],
 'naik',
 ['Hello', 'world']]

In [59]:
lst=[1,2,3]

In [60]:
lst.append([4,5])

In [61]:
lst

[1, 2, 3, [4, 5]]

Extend method

In [62]:
lst=[1,2,3,4,5,6]

In [63]:
lst.extend([8,9])

In [64]:
lst.extend(8,9)

TypeError: extend() takes exactly one argument (2 given)

Various operations that we can perform in list

In [65]:
lst=[1,2,3,4,5]

In [66]:
sum(lst)

15

In [67]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [68]:
lst.*5

SyntaxError: invalid syntax (<ipython-input-68-c58175486c5c>, line 1)

In [69]:
lst*.5

TypeError: can't multiply sequence by non-int of type 'float'

# Pop() Method

In [70]:
lst.pop()

5

In [71]:
lst

[1, 2, 3, 4]

In [72]:
lst.pop(0)

1

In [73]:
lst

[2, 3, 4]

In [74]:
lst.pop()

4

In [75]:
lst

[2, 3]

# Count(): calculates total occurences of given element of List

In [76]:
lst=[1,1,2,3,4,5]

In [77]:
lst.count(1)

2

In [78]:
len(lst)

6

In [79]:
# Index(): returns the index of first occurence. Start and end index 
are not necessary parameters

SyntaxError: invalid syntax (<ipython-input-79-93e3f5dd2ae5>, line 2)

In [80]:
lst.index(1,1,4)

1

In [81]:
lst.index(6,7)

ValueError: 6 is not in list

In [82]:
lst.index(1,5)

ValueError: 1 is not in list

In [83]:
lst=([1,1,2,3,4,5])

In [84]:
lst.index(1,5)

ValueError: 1 is not in list

In [85]:
lst.index(1,1,5)

1

In [86]:
## min and max
min(lst)

1

In [87]:
max(lst)

5

# SETS

A set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python set class represents the mathematical notion of a set. This is based on a data structure known as hash table.

In [88]:
## Definiing an empty set
set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [89]:
set_var={1,2,3,4,3}

In [90]:
set_var

{1, 2, 3, 4}

In [91]:
set_var={'Avengers','Ironman','Hitman'}
print(set_var)

{'Avengers', 'Hitman', 'Ironman'}

In [92]:
type(set_var)

set

In [93]:
## Inbuilt function in sets
set_var.add{'Hulk'}

SyntaxError: invalid syntax (<ipython-input-93-c1e4ff53da9d>, line 2)

In [94]:
set_var.add('Hulk')

In [95]:
set_var

{'Avengers', 'Hitman', 'Hulk', 'Ironman'}

In [96]:
set1={'Avengers','Ironman','Hitman'}
set2= {'Avengers','Ironman','Hitman','Hulk2'}

In [97]:
set2.intersection_update(set1)

In [98]:
set2

{'Avengers', 'Hitman', 'Ironman'}

In [99]:
set2.difference(set1)

set()

In [100]:
set1={'Avengers','Ironman','Hitman'}
set2= {'Avengers','Ironman','Hitman','Hulk2'}

In [101]:
set2.difference(set1)

{'Hulk2'}

In [102]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'Ironman'}

In [103]:
set2.difference_update(set1)

In [104]:
print(set2)

{'Hulk2'}

# Dictionaries
A dictionary is a collection which is unordered, changeable and indexed. In python dictionaries are written with curly brackets, and they have keys and values.

In [105]:
dic = {}

In [106]:
type(dic)

dict

In [107]:
type(dict())

dict

In [108]:
set_ex={1,2,3,4,5}

In [109]:
type(set_ex)

set

In [110]:
## Let's create a dictionary

my_dict={'Car1': 'Audi','Car2': 'BMW','Car3':'Mercides Benz'}

In [111]:
type(my_dict)

dict

In [112]:
type(my_dict)

dict

In [113]:
## access the item values based on keys

my_dict['Car2']

'BMW'

In [114]:
# we can even loop through the dictionary KEYS

In [115]:
for x in my_dict:
    print(x)

Car1
Car2
Car3

In [116]:
# we can loop through the dict VALUES

for x in my_dict.values():
    print(x)

Audi
BMW
Mercides Benz

In [117]:
## adding Items in dictaries

In [118]:
my_dict['Car4']='Adui 2.0'

In [119]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercides Benz', 'Car4': 'Adui 2.0'}

In [120]:
my_dict['Car1']='Maruti'

In [121]:
my_dict

{'Car1': 'Maruti', 'Car2': 'BMW', 'Car3': 'Mercides Benz', 'Car4': 'Adui 2.0'}

# Nested Dictionary

In [1]:
car1_model = {'Mercedes':1960}
car2_model ={'Audi':1970}
car3_model = {'Ambassador':1980}
car_type = {'car1':car1_model, 'car2':car2_model,'car3':car3_model}

In [2]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [3]:
## accessing the items in the dictionary
print(car_type['car1'])

{'Mercedes': 1960}

In [4]:
print(car_type['car1']['Mercedes'])

1960

Tuples

In [5]:
#create an empty tuple

my_tuple = tuple()

In [6]:
type(my_tuple)

tuple

In [7]:
my_tuple=()

In [8]:
type(my_tuple)

tuple

In [9]:
my_tuple=('John','Chin','Tony')

In [10]:
my_tuple

('John', 'Chin', 'Tony')

In [11]:
## induilt function

my_tuple.count('John')

1

In [12]:
my_tuple.index('John')

0

In [13]:
my_tuple.index('Tony')

2