# For, If, Functions

FUnctions in Python. A function is a set of statements that take inputs, do some specific computation and produces output. These functions are called user defined functins.

In [1]:
## If conditions and for loops

lst = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

even_sum=0
odd_sum=0
for i in lst:
    if i%2==0:
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
print(even_sum,odd_sum)

56 64

In [2]:
'''
Syntax
def funcname(parameter1,parameter2,....):
    function body
'''

'\nSyntax\ndef funcname(parameter1,parameter2,....):\n    function body\n'

In [3]:
def add(num1,num2):
    return num1+num2

In [4]:
add(2,4)

6

In [13]:
def add_list(lst):
    sum1 = 0
    for i in lst:
        print(i)
        sum1=sum1+float(i)
    return sum1

In [14]:
add_list(lst)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

120.0

In [15]:
add_list([1.2,3.4])

1.2
3.4

4.6

In [17]:
def add_list_int(lst):
    sum1=0
    for i in lst:
        print(i)
        sum1=sum1+int(i)
    return sum1

In [18]:
add_list_int(lst)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

120

In [20]:
add_list_int([2.3,4.7])

2.3
4.7

6

In [21]:
input_num=list(input('Enter the list'))

Enter the list1234567

In [22]:
input_num

['1', '2', '3', '4', '5', '6', '7']

In [23]:
add_list_int(input_num)

1
2
3
4
5
6
7

28

In [25]:
add_list(input_num) # Float

1
2
3
4
5
6
7

28.0

In [26]:
# Make an arithmetic calculator

In [35]:
# Addition and subtraction
def adsub(input):
    output=0
    for i in input:
        output=output+float(i)
    return output

In [36]:
adsub([1.3,-0.3])

1.0

In [38]:
adsub(lst)

120.0

In [42]:
# Multiplication 

def mult(input):
    output=1
    for i in input:
        output=output*float(i)
    return output

In [43]:
mult([12,6])

72.0

In [64]:
adsub([12,13])+mult([2,3])

31.0

In [73]:
# Division (Wrong)

def div(a,b):
    
    division=a/b
    return division

In [76]:
div(1.2,4.5)

0.26666666666666666

In [77]:
adsub([1.2,-6])+mult([1,2,4,5])+div(3,4)

35.95

In [62]:
# Python program for simple calculator

# Function to add two numbers
def add(num1, num2):
	return num1 + num2

# Function to subtract two numbers
def subtract(num1, num2):
	return num1 - num2

# Function to multiply two numbers
def multiply(num1, num2):
	return num1 * num2

# Function to divide two numbers
def divide(num1, num2):
	return num1 / num2

print("Please select operation -\n" \
		"1. Add\n" \
		"2. Subtract\n" \
		"3. Multiply\n" \
		"4. Divide\n")


# Take input from the user
select = int(input("Select operations form 1, 2, 3, 4 :"))

number_1 = float(input("Enter first number: "))
number_2 = float(input("Enter second number: "))

if select == 1:
	print(number_1, "+", number_2, "=",
					add(number_1, number_2))

elif select == 2:
	print(number_1, "-", number_2, "=",
					subtract(number_1, number_2))

elif select == 3:
	print(number_1, "*", number_2, "=",
					multiply(number_1, number_2))

elif select == 4:
	print(number_1, "/", number_2, "=",
					divide(number_1, number_2))
else:
	print("Invalid input")

Please select operation -
1. Add
2. Subtract
3. Multiply
4. Divide

Select operations form 1, 2, 3, 4 :3
Enter first number: 22.3
Enter second number: 11.1
22.3 * 11.1 = 247.53