<a href="https://colab.research.google.com/github/Curioussoul119/Python_Basics/blob/main/Think_Python_How_to_think_like_a_computer_Scientist.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Debugging

In [ ]:
# Syntax error,  Run time error, Semantic Error

In [ ]:
import math
math

In [ ]:
radians = 0.7
height = math.sin(radians)

In [ ]:
height

0.644217687237691

In [ ]:
ratio = 0.8
decibels = 10 * math.log10(ratio)
decibels

-0.969100130080564

In [ ]:
math.pi

3.141592653589793

# 3.Functions

In [ ]:
def print_lyrics():
  print("I'm a curious soul, and I'm okay all the time.")
  print("But I sleep all day and night when I'm under stress")

In [ ]:
print(print_lyrics)

<function print_lyrics at 0x7fa3b2706050>

In [ ]:
print_lyrics()

I'm a curious soul, and I'm okay all the time.
But I sleep all day and night when I'm under stress

In [ ]:
def repeat_lyrics():
  print_lyrics()
  print_lyrics()

In [ ]:
repeat_lyrics()

I'm a curious soul, and I'm okay all the time.
But I sleep all day and night when I'm under stress
I'm a curious soul, and I'm okay all the time.
But I sleep all day and night when I'm under stress

In [ ]:
type(repeat_lyrics)

function

In [ ]:
def print_lyrics():
  print("I'm a curious soul, and I'm okay all the time.")
  print("But I sleep all day and night when I'm under stress")

def repeat_lyrics():
  print_lyrics()
  print_lyrics()
repeat_lyrics()

I'm a curious soul, and I'm okay all the time.
But I sleep all day and night when I'm under stress
I'm a curious soul, and I'm okay all the time.
But I sleep all day and night when I'm under stress

In [ ]:
# functions with arguments
math.sin(0.3) # sin function require one argument here
math.pow(2,3) # pow function require two arguments, base and exponent

8.0

In [ ]:
math.sin(0.3)

0.29552020666133955

In [ ]:
def print_twice(curioussoul):
  print(curioussoul)
  print(curioussoul)

In [ ]:
print_twice('go to heaven')

go to heaven
go to heaven

In [ ]:
print_twice(19)

19
19

In [ ]:
print_twice(math.pi)

3.141592653589793
3.141592653589793

In [ ]:
print_twice('jiro '*2)

jiro jiro
jiro jiro

In [ ]:
print_twice(math.cos(math.pi))

-1.0
-1.0

In [ ]:
hi = 'good moorning, lets have a productive day'
print_twice(hi)
hello = ' Hope you are doing Ok!'

good moorning, lets have a productive day
good moorning, lets have a productive day

In [ ]:
#This function takes two arguments, concatenates them, and prints the result twice. Here is
# an example that uses it
def live_twice(bc, ad):
  live = bc + ad
  print_twice(live)

In [ ]:
live_twice(hi,hello )

good moorning, lets have a productive day Hope you are doing Ok!
good moorning, lets have a productive day Hope you are doing Ok!

In [ ]:
math.sqrt(5)

2.23606797749979

In [ ]:
# Fruitful functions and void functions

In [ ]:
#module #dot notation for calling a function

In [ ]:
def right_justify(s):
  print((' '*70)+s)

In [ ]:
right_justify('monty') #yayyyyy

                                                                      monty

In [ ]:
from __future__ import print_function, division

In [ ]:
def do_twice(func, arg):
  func(arg)
  func(arg)

In [ ]:
def print_twice(arg):
  print(arg)
  print(arg)

In [ ]:
do_twice(print_twice, ' go to heaven,')

 go to heaven,
 go to heaven,
 go to heaven,
 go to heaven,

In [ ]:
def do_four(func, arg):
  do_twice(func, arg)
  do_twice(func, arg)

In [ ]:
do_twice(print, 'spam')
print('')

spam
spam

In [ ]:
do_four(print, 'spam')

spam
spam
spam
spam

In [ ]:
do_four(print_twice,'spam')

spam
spam
spam
spam
spam
spam
spam
spam

In [ ]:
def do_twice(f):
  f()
  f()

In [ ]:
def do_four(f):
  do_twice(f)
  do_twice(f)

In [ ]:
def print_beam():
  print('+ - - - -', end=' ')

In [ ]:
def print_post():
  print('|        ', end =' ')

In [ ]:
def print_beams():
  do_twice(print_beam)

In [ ]:
def print_posts():
  do_twice(print_post)
  print('|')

In [ ]:
def print_row():
  print_beams()
  do_four(print_posts)

In [ ]:
def print_grid():
  do_twice(print_row)
  print_beams()

In [ ]:
print_grid()

+ - - - - + - - - - |         |         |
|         |         |
|         |         |
|         |         |
+ - - - - + - - - - |         |         |
|         |         |
|         |         |
|         |         |
+ - - - - + - - - -

https://[Think_python_grid_pg69](https://github.com/AllenDowney/ThinkPython2/blob/master/code/grid.py)

# C4: Interface Design

In [ ]:
import turtle
#bob = turtle.Turtle()
#print(bob)
#turtle.mainloop()

In [ ]:
#method, loop, Wrapping a piece of code up in a function is called encapsulation

In [ ]:
#import math
#def circle(t, r):
  #circumference=2*math.pi*r
 # n=50
 # length = circumference/n
  #polygon(t,n,length)

## A Development Plan
A development plan is a process for writing programs. The process we used in this case
study is “encapsulation and generalization”. The steps of this process are:
1. Start by writing a small program with no function definitions.
2. Once you get the program working, identify a coherent piece of it, encapsulate the
piece in a function and give it a name.
3. Generalize the function by adding appropriate parameters.
4. Repeat steps 1–3 until you have a set of working functions. Copy and paste working
code to avoid retyping (and re-debugging).
5. Look for opportunities to improve the program by refactoring. For example, if you
have similar code in several places, consider factoring it into an appropriately
general function.

In [ ]:
# triple quotes: more than one line: interface: An interface is like a contract between a function and a caller. The caller agrees to provide
#certain parameters and the function agrees to do certain work

These requirements are called preconditions because they are supposed to be true before
the function starts executing. Conversely, conditions at the end of the function are
postconditions. Postconditions include the intended effect of the function (like drawing
line segments) and any side effects (like moving the Turtle or making other changes).
Preconditions are the responsibility of the caller. If the caller violates a (properly
documented!) precondition and the function doesn’t work correctly, the bug is in the
caller, not the function.
If the preconditions are satisfied and the postconditions are not, the bug is in the function.
If your pre- and postconditions are clear, they can help with debugging

# C5. Conditionals and Recursion

In [ ]:
# Floor division: divides two numbers and rounds down to an integer and 
#Modulus operator:divides two numbers and returns the remainder

In [ ]:
minutes = 105
hours = minutes //60
hours

1

## Modulus operator

In [ ]:
reminder = minutes % 60
reminder

45

In [ ]:
x=1234
y= x%10
y

4

In [ ]:
y=x%100
y

34

## Boolean Expressions
A boolean expression is an expression that is either true or false. The following examples
use the operator ==, which compares two operands and produces True if they are equal
and False otherwise:

In [ ]:
5==5

True

In [ ]:
5==6

False

In [ ]:
type (True)

bool

The == operator is one of the relational operators; the others are:

x != y # x is not equal to y

x > y # x is greater than y

x < y # x is less than y

x >= y # x is greater than or equal to y

x <= y # x is less than or equal to y

Although these operations are probably familiar to you, the Python symbols are different
from the mathematical symbols.
A common error is to use a single equal sign (=) instead
of a double equal sign (==).
Remember that = is an assignment operator and == is a
relational operator. There is no such thing as =< or =>

## Logical operators
There are three logical operators: and, or, and not. The semantics (meaning) of these
operators is similar to their meaning in English. For example, x > 0 and x < 10 is true
only if x is greater than 0 and less than 10.

n%2 == 0 or n%3 == 0 is true if either or both of the conditions is true, that is, if the
number is divisible by 2 or 3.

Strictly speaking, the operands of the logical operators should be boolean expressions, but
Python is not very strict. Any nonzero number is interpreted as True

In [ ]:
42 and True

True

## Conditional execution
In order to write useful programs, we almost always need the ability to check conditions
and change the behavior of the program accordingly. Conditional statements give us this
ability. The simplest form is the if statement:

if x > 0:

  print('x is positive')

The boolean expression after if is called the condition. If it is true, the indented statement
runs. If not, nothing happens.

if statements have the same structure as function definitions: a header followed by an
indented body. Statements like this are called compound statements.

There is no limit on the number of statements that can appear in the body, but there has to
be at least one. Occasionally, it is useful to have a body with no statements (usually as a
place keeper for code you haven’t written yet). In that case, you can use the pass
statement, which does nothing.

In [ ]:
if x<0:
  pass

In [ ]:
# alternative exercution: The
#alternatives are called branches, because they are branches in the flow of execution

if x % 2 == 0:
  print('x is even')
else:
  print('x is odd')

x is even

## Chained conditionals
Sometimes there are more than two possibilities and we need more than two branches.
One way to express a computation like that is a chained conditional:
if x < y:

print('x is less than y')

elif x > y:

print('x is greater than y')

else:

print('x and y are equal')

There is no limit
on the number of elif statements. If there is an else clause, it has to be at the end, but
there doesn’t have to be one.


if choice == 'a':

draw_a()

elif choice == 'b':

draw_b()

elif choice == 'c':

draw_c()

Each condition is checked in order. If the first is false, the next is checked, and so on. If
one of them is true, the corresponding branch runs and the statement ends. Even if more
than one condition is true, only the first true branch runs.

# nested conditionals

In [ ]:
x=9
y=3

In [ ]:
# Nested
if x == y:
  print('x and y are equal')
else:
  if x<y:
    print('x is less than y')
  else:
    print('x is greater than y')

x is greater than y

In [ ]:
#alternative to nested: body compute after passing two conditionals without nesting
if 0<x:
  if x<10:
    print('x is a positive single-digit number')

x is a positive single-digit number

In [ ]:
if 0<x and x<10:
  print(' x is a positive single digit number')

 x is a positive single digit number

In [ ]:
if 0<x<10:
  print('x is a positive single digit number')

x is a positive single digit number

## recursion
It is legal for one function to call another; it is also legal for a function to call itself. It may
not be obvious why that is a good thing, but it turns out to be one of the most magical
things a program can do.

In [ ]:
def countdown(n):
  if n<=0:
    print('blastoff!')
  else:
    print(n, end=' ')
    countdown(n-1)

In [ ]:
countdown(10)

10 9 8 7 6 5 4 3 2 1 blastoff!

In [ ]:
def countdown(n):
  if n<=0:
    print('blastoff!')
  else:
    print(n)
    countdown(n-1)

In [ ]:
countdown(10)

10
9
8
7
6
5
4
3
2
1
blastoff!

A function that calls itself is recursive; the process of executing it is called recursion

In [ ]:
def print_n(s,n):
  if n<=0:
    return
  print(s)
  print_n(s, n-1)

In [ ]:
print_n('holy', 5)

holy
holy
holy
holy
holy

## Infinite recursion
If a recursion never reaches a base case, it goes on making recursive calls forever, and the
program never terminates. This is known as infinite recursion, and it is generally not a
good idea.
In most programming environments, a program with infinite recursion does not really run
forever. Python reports an error message when the maximum recursion depth is reached

In [ ]:
def recurse():
  recurse()

In [ ]:
recurse()

RecursionError: ignored

## Keyboard input
Python provides a built-in function called input that stops the program and waits for the
user to type something. When the user presses Return or Enter, the program resumes and
input returns what the user typed as a string

In [ ]:
text=input()

What do you want?

In [ ]:
text

'What do you want?'

Before getting input from the user, it is a good idea to print a prompt telling the user what
to type. input can take a prompt as an argument

In [ ]:
name = input('what is your name?\n')

what is your name?
Curious Soul

In [ ]:
name

'Curious Soul'

In [ ]:
prompt =' what is the airspeed velocity of an unladen swallow?\n'
speed = input(prompt)

 what is the airspeed velocity of an unladen swallow?
42

In [ ]:
int(speed)

42

In [ ]:
float(speed)

42.0

In [ ]:
speed = input(prompt)
int(speed)

 what is the airspeed velocity of an unladen swallow?
42

42

In [ ]:
x = 5
  y=6

IndentationError: ignored

In [ ]:
import math
signal_power = 9
noise_power = 10
ratio = signal_power // noise_power
decibels = 10 * math.log10(ratio)
print(decibels)

ValueError: ignored

The error message indicates line 5, but there is nothing wrong with that line. To find the
real error, it might be useful to print the value of ratio, which turns out to be 0. The
problem is in line 4, which uses floor division instead of floating-point division.
You should take the time to read error messages carefully, but don’t assume that
everything they say is correct

In [ ]:
import math
signal_power = 9
noise_power = 10
ratio = signal_power / noise_power
decibels = 10 * math.log10(ratio)
print(decibels)

-0.4575749056067512

floor division:
An operator, denoted //, that divides two numbers and rounds down (toward zero) to
an integer.

modulus operator:
An operator, denoted with a percent sign (%), that works on integers and returns the
remainder when one number is divided by another.

In [ ]:
# Exercise 5-1
import time
time.time()

1645678605.2443228

In [ ]:
# Exercise 5-4
def recurse(n, s):
  if n == 0:
    print(s)
  else:
    recurse(n-1, n+s)
recurse(3, 0)

6

In [ ]:
recurse(-1, 0)

RecursionError: ignored

In [ ]:
''' First check if 3==0, no? recurse(3-1, 3+0)
  2, 3
      1, 5
          0, 6
              if n==0, print(6)'''

' First check if 3==0, no? recurse(3-1, 3+0)\n  2, 3\n      1, 5\n          0, 6\n              if n==0, print(6)'

# C6. Fruitful functions

In [ ]:
# dead code: code after return statement
def absolute_value(x):
  if x < 0:
    return -x
  if x > 0:
    return x

In [ ]:
absolute_value(10)

10

In [ ]:
absolute_value(0) #None

## incremental development

In [ ]:
def distance(x1, y1, x2, y2):
  return 0.0

In [ ]:
distance(1,2,4,6)

0.0

In [ ]:
def distance(x1, y1, x2, y2):
  dx = x2-x1
  dy = y2-y1
  print('dx is', dx)
  print('dy is', dy)
  return 0.0

In [ ]:
distance(1,2,4,6)

dx is 3
dy is 4

0.0

In [ ]:
def distance(x1, y1, x2, y2):
  dx = x2-x1
  dy = y2-y1
  dsquared = dx**2 + dy**2
  print('dsquared is:', dsquared)
  return 0.0

In [ ]:
distance(1,2,4,6)

dsquared is: 25

0.0

In [ ]:
def distance(x1, y1, x2,y2):
  dx=x2-x1
  dy=y2-y1
  dsquared=dx**2+dy**2
  result = math.sqrt(dsquared)
  return result

In [ ]:
distance(1,2,4,6)

5.0

The final version of the function doesn’t display anything when it runs; it only returns a
value. The print statements we wrote are useful for debugging, but once you get the
function working, you should remove them. Code like that is called scaffolding because it
is helpful for building the program but is not part of the final product.

When you start out, you should add only a line or two of code at a time. As you gain more
experience, you might find yourself writing and debugging bigger chunks. Either way,
incremental development can save you a lot of debugging time.

The key aspects of the process are:
1. Start with a working program and make small incremental changes. At any point, if
there is an error, you should have a good idea where it is.
2. Use variables to hold intermediate values so you can display and check them.
3. Once the program is working, you might want to remove some of the scaffolding or
consolidate multiple statements into compound expressions, but only if it does not
make the program difficult to read.

In [ ]:
def circle_area(xc, yc, xp, yp):
  radius = distance(xc, yc, xp, yp)
  result = area(radius)
  return result

In [ ]:
circle_area(1,2,4,6)

NameError: ignored

In [ ]:
def area(radius):
  a = math.pi*radius**2
  return a

In [ ]:
area(5)

78.53981633974483

In [ ]:
circle_area(1,2,4,6)

78.53981633974483

## boolean functions

In [ ]:
def is_divisible(x,y):
  if x % y == 0:
    return True
  else:
    return False

In [ ]:
is_divisible(6,4)

False

In [ ]:
is_divisible(6,3)

True

The result of the == operator is a boolean, so we can write the function more concisely by
returning it directly

In [ ]:
def is_divisible(x,y):
  return x % y ==0
is_divisible(2,6)

False

In [ ]:
is_divisible(6,2)

True

In [ ]:
def is_between(x,y,z):
  if x<=y<=z:
    return True
  else:
    return False

In [ ]:
is_between(2,8,9)

True

In [ ]:
#166 Page No

## More Recursion

In [ ]:
def factorial(n):
  if n == 0:
    return 1
  else:
    recurse = factorial(n-1)
    result = n* recurse
    result = n * recurse
    return result

In [ ]:
factorial(9)

362880

In [ ]:
factorial(0)

1

In [ ]:
factorial(100)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [ ]:
factorial(1000)

RecursionError: ignored

In [ ]:
factorial(968)

664281859377706235192276234565735250298568313080526163562226238075190230264260968184891752376551055458858868845802771628998265183359657872849110022955882655189833013229049439318347811680355299701904679694647881149111960747002616558499159930034562656909570044323303107667613126850702236175933392658287984267795168869866655546086373961126640643493002192149149589430599885850470638761667252980522443755822245696263607872205631669346321628886572549328231847211559951826546237412596594227374267165676091028080773281367997049855638888289693960776920898443319590886522505141920372578800743515002232457035837540322152095005614039813604940244740322154291989440470969758700664661206389740639685720542157509260553812351796372638856443137152445775461105022165213448780995031143624923972342176598057489490032310361156551978888682608614105985955471234328654986436508921031947491856978125270693505979483833975868938803000183499601990951768261614953969456203601790994331224932421694290073628552184232742758034388762816373139491535489873471003958890525853918831534178546689330491330536547725283747803439836444446686636364959567448398503288367883690540658265662821767308792812082252570803466521792843597654003420008122537336884893013129091158834382300606656480872235523350294508829733670488820174822559406868193015100879062889628448581229840345645893314304232228206458630258163150562583853136112224332490697072456997229389058751315238439641541541620827302400266663488380417676391944451359847595528565068633223383159791538709891415420262977834308648078493095741788601534309143636175862955283418424715831760243609217052270707883580084081809212733334375045732533594318319088178984355011010043779685654814694511560095464396131045602018897308591795762650046234954923255043382175979167812948383373984946306663853569834366905802758443498159140215108265020134392390695222990876084873772394232715419443503472974237462776879829648140005803152750153482561231977493094790737598781535881102558770598040372737018562185088875063368629875191668273801474753544765169528968047055394726165070658202074377925031548589573668994437364746283719197598621980176359865919509098133211316156147859804034333315519977260946172624443111086625505843823618065133882891620807626824089600000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [ ]:
def fibonacci(n):
  if n == 0:
    return 0
  elif n == 1:
    return 1
  else:
    return fibonacci(n-1)+fibonacci(n-2)

If you try to follow the flow of execution here, even for fairly small values of n, your head
explodes. But according to the leap of faith, if you assume that the two recursive calls
work correctly, then it is clear that you get the right result by adding them together

In [ ]:
fibonacci(5)

5

In [ ]:
# debugging with check statements
def factorial(n):
  space = ' ' * (4*n)
  print(space, 'factorial', n)
  if n == 0:
    print(space, 'returning 1')
    return 1
  else:
    recurse = factorial(n-1)
    result= n* recurse
    print(space, 'returning', result)
    return result

In [ ]:
factorial(4)

                 factorial 4
             factorial 3
         factorial 2
     factorial 1
 factorial 0
 returning 1
     returning 1
         returning 2
             returning 6
                 returning 24

24

If you are confused about the flow of execution, this kind of output can be helpful. It takes
some time to develop effective scaffolding, but a little bit of scaffolding can save a lot of
debugging

temporary variable:

A variable used to store an intermediate value in a complex calculation.

dead code:

Part of a program that can never run, often because it appears after a return
statement.

incremental development:

A program development plan intended to avoid debugging by adding and testing only
a small amount of code at a time.

scaffolding:

Code that is used during program development but is not part of the final version.

guardian:

A programming pattern that uses a conditional statement to check for and handle
circumstances that might cause an error

In [ ]:
# Exercise 6:3
def first(word):
  return word[0]
def last(word):
  return word[-1]
def middle(word):
  return word[1:-1]

def is_palindrome(word):
  if len(word) <=1:
    return True
  if first(word) != last(word):
    return False
  return is_palindrome(middle(word))

In [ ]:
is_palindrome('allen')

False

In [ ]:
is_palindrome('20022022')

False

In [ ]:
is_palindrome('bob')

True

In [ ]:
is_palindrome('redivider')

True

In [ ]:
def is_divisible(a,b):
  if a % b == 0:
    return True
  else:
    return False

In [ ]:
is_divisible(4, 2)

True

In [ ]:
is_divisible(123435, 5)

True

In [ ]:
is_divisible(123334, 3)

False

The greatest common divisor (GCD) of a and b is the largest number that divides both of
them with no remainder.
One way to find the GCD of two numbers is based on the observation that if r is the
remainder when a is divided by b, then . As a base case, we
can use .
Write a function called gcd that takes parameters a and b and returns their greatest
common divisor.

Credit: This exercise is based on an example from Abelson and Sussman’s Structure and
Interpretation of Computer Programs (MIT Press, 1996).

In [ ]:
import math
x= 24
y=6
gcd =math.gcd(x,y)
gcd

6

In [ ]:
math.gcd(1240, 5)

5

In [ ]:
# Using recursion
def hcf(a , b):
  if (b == 0):
    print('returning base', b)
    return a
  else:
    print('returning higest common factor', b)
    return hcf(b, a % b)

In [ ]:
hcf(60,48)

returning higest common factor 48
returning higest common factor 12
returning base 0

12

In [ ]:
hcf(98, 56)

returning higest common factor 56
returning higest common factor 42
returning higest common factor 14
returning base 0

14

In [ ]:
# Using Euclidean Algorithm
def gcd(a,b):
  if (a == 0):
    return b
  if (b == 0):
    return a
  
  # base case
  if (a==b):
    return a
  
  if a>b:
    return gcd(a-b, b)
  return gcd(a, b-a)
  a = 98
  b = 56
  if (gcd(a,b)):
    print('gcd of', a, 'and', b, 'is', gcd(a,b))
  else:
    print('not found')

In [ ]:
gcd(98,56)

14

# C7. Iteration

In [ ]:
# Reassigning '=' is not the mathematical proposition of equality
a =5
b=a
a=3

In [ ]:
b

5

In [ ]:
a

3

The third line changes the value of a but does not change the value of b, so they are no
longer equal.

In [ ]:
# updating variables
a = a+1

In [ ]:
a

4

In [ ]:
a

4

Before you can update a variable, you have to initialize it, usually with a simple
assignment:
>>> x = 0

>>> x = x + 1

Updating a variable by adding 1 is called an increment; subtracting 1 is called a
decrement

## The while statement
Computers are often used to automate repetitive tasks. Repeating identical or similar tasks
without making errors is something that computers do well and people do poorly. In a
computer program, repetition is also called iteration.

In [ ]:
def countdown(n):
  while n>0:
    print(n)
    n=n-1
  print('Blastoff!')

In [ ]:
countdown(9)

9
8
7
6
5
4
3
2
1
Blastoff!

More formally, here is the flow of execution for a while statement:
1. Determine whether the condition is true or false.
2. If false, exit the while statement and continue execution at the next statement.
3. If the condition is true, run the body and then go back to step 1.

This type of flow is called a loop because the third step loops back around to the top.
The body of the loop should change the value of one or more variables so that the
condition becomes false eventually and the loop terminates. Otherwise the loop will repeat
forever, which is called an infinite loop. An endless source of amusement for computer
scientists is the observation that the directions on shampoo, “Lather, rinse, repeat”, are an
infinite loop.

In [ ]:
def sequence(n):
  while n != 1:
    print(n)
    if n % 2 == 0:           # n is even
      n = n/2
    else:
      n=n*3 +1                # n is odd

In [ ]:
sequence(16)

16
8.0
4.0
2.0

In [ ]:
sequence(17)

17
52
26.0
13.0
40.0
20.0
10.0
5.0
16.0
8.0
4.0
2.0

In [ ]:
# Break
while True:
  line = input('-_-')
  if line == 'curious soul':
    break
  print(line)
print('Good Job')

-_-not done
not done
-_-go to hell
go to hell
-_-what do you want?
what do you want?
-_-curious soul
Good Job

## Square roots

In [ ]:
a =4
x=3

In [ ]:
y

2.1666666666666665

In [ ]:
x=y

In [ ]:
y =(x+a/x) / 2
y

2.0064102564102564

In [ ]:
x=y

In [ ]:
y =(x+a/x) / 2
y

2.0000102400262145

In [ ]:
x=y

In [ ]:
y =(x+a/x) / 2
y

2.0000000000262146

In [ ]:
x=y

In [ ]:
y =(x+a/x) / 2
y

2.0

In [ ]:
x=y

In [ ]:
y =(x+a/x) / 2
y

2.0

When y == x, we can stop. Here is a loop that starts with an initial estimate, x, and
improves it until it stops changing

In [ ]:
while True:
  print(x)
  y = (x+a/x)/2
  if y == x:
    break
  x = y

2.0

In [ ]:
x=5
a = 10

In [ ]:
while True:
  print(x)
  y = (x+a/x)/2
  if y == x:
    break
  x = y

5
3.5
3.178571428571429
3.162319422150883
3.1622776604441363
3.162277660168379

In [ ]:
if abs(y-x) < epsilon:
  break

SyntaxError: ignored

## Algorithms
Newton’s method is an example of an algorithm: it is a mechanical process for solving a
category of problems (in this case, computing square roots).
To understand what an algorithm is, it might help to start with something that is not an
algorithm. When you learned to multiply single-digit numbers, you probably memorized
the multiplication table. In effect, you memorized 100 specific solutions. That kind of
knowledge is not algorithmic.
But if you were “lazy”, you might have learned a few tricks. For example, to find the
product of n and 9, you can write n-1 as the first digit and 10-n as the second digit. This
trick is a general solution for multiplying any single-digit number by 9. That’s an
algorithm

reassignment:

Assigning a new value to a variable that already exists.

update:
An assignment where the new value of the variable depends on the old.

initialization:
An assignment that gives an initial value to a variable that will be updated.

increment:
An update that increases the value of a variable (often by one).

decrement:
An update that decreases the value of a variable.

iteration:
Repeated execution of a set of statements using either a recursive function call or a
loop.

infinite loop:
A loop in which the terminating condition is never satisfied.

algorithm:
A general process for solving a category of problems.

# C8. Strings pg No: 142 
Strings are not like integers, floats, and booleans. A string is a sequence, which means it is
an ordered collection of other values

In [ ]:
# access strings by bracket operator: The expression in brackets is called an index
fruit = 'banana'
letter = fruit[1]

In [ ]:
letter

'a'

In [ ]:
length =len(fruit)

In [ ]:
last = fruit[length]

IndexError: ignored

In [ ]:
last = fruit[length-1]

In [ ]:
last

'a'

In [ ]:
# negative indices
fruit[-1]

'a'

In [ ]:
fruit[-2]

'n'

## Traversal with a loop
A lot of computations involve processing a string one character at a time. Often they start
at the beginning, select each character in turn, do something to it, and continue until the
end. This pattern of processing is called a traversal. One way to write a traversal is with a
while loop:

In [ ]:
index =0
while index < len(fruit):
  letter = fruit[index]
  print(letter)
  index = index +1

b
a
n
a
n
a

In [ ]:
#Another way to write a traversal is with a for loop:
for letter in fruit:
  print(letter)

b
a
n
a
n
a

In [ ]:
prefixes = 'JKMNQPQ'
suffix ='ack'

In [ ]:
for letter in prefixes:
  print(letter+suffix)

Jack
Kack
Mack
Nack
Qack
Pack
Qack

## String Slices
A segment of a string is called a slice. Selecting a slice is similar to selecting a character:

In [ ]:
s = 'Monty Python'

In [ ]:
s[0:5]

'Monty'

In [ ]:
s[6:12]

'Python'

The operator [n:m] returns the part of the string from the “n-eth” character to the “m-eth”
character, including the first but excluding the last

In [ ]:
fruit[:3]

'ban'

In [ ]:
fruit[3:]

'ana'

In [ ]:
fruit[3:3]

''

In [ ]:
fruit[:]

'banana'

## Strings are immutable
The reason for the error is that strings are immutable, which means you can’t change an
existing string. The best you can do is create a new string that is a variation on the
original:

This example concatenates a new first letter onto a slice of greeting. It has no effect on
the original string

In [ ]:
greetings ='Hello world'
new_greeting = 'J' + greetings[1:]
new_greeting

'Jello world'

## Searching
This pattern of computation — traversing a sequence and returning when we find what we
are looking for — is called a search.

In [ ]:
def find(word, letter):
  index =0
  while index < len(word):
    if word[index] == letter:
      return index
    index = index + 1
  return -1

In [ ]:
find('ultramicroglagomyopecandrio', 'z')

-1

## Looping and counting

In [ ]:
word ='banana'
count = 0
for letter in word:
  if letter == 'a':
    count = count + 1
  print(count)

0
1
1
2
2
3

## String Methods
Strings provide methods that perform a variety of useful operations. A method is similar to
a function — it takes arguments and returns a value — but the syntax is different. For
example, the method upper takes a string and returns a new string with all uppercase
letters.
Instead of the function syntax upper(word), it uses the method syntax word.upper()

In [ ]:
word ='banana'
new_word = word.upper()

In [ ]:
new_word

'BANANA'

This form of dot notation specifies the name of the method, upper, and the name of the
string to apply the method to, word. The empty parentheses indicate that this method takes
no arguments.
A method call is called an invocation; in this case, we would say that we are invoking
upper on word.

In [ ]:
word = 'banana'
index = word.find('a')
index

1

In [ ]:
word.find('na')

2

In [ ]:
word.find('na', 3)

4

In [ ]:
name = 'bob'

In [ ]:
name.find('b', 1,2)

-1

## The in operator

The word in is a boolean operator that takes two strings and returns True if the first
appears as a substring in the second:

In [ ]:
'a' in 'banana'

True

In [ ]:
'seed' in 'banana'

False

In [ ]:
def in_both(word1, word2):
  for letter in word1:
    if letter in word2:
      print(letter)

In [ ]:
in_both('love','ooty')

o

Python sometimes reads like English. You could read
this loop, “for (each) letter in (the first) word, if (the) letter (appears) in (the second) word,
print (the) letter.”

In [ ]:
in_both('apples','oranges')

a
e
s

## string comparision
The relational operators work on strings. To see if two strings are equal

In [ ]:
if word == 'banana':
  print('All right, bananas')

In [ ]:
word = 'apples'

In [ ]:
if word == 'banana':
  print('All right, bananas')

In [ ]:
word = 'banana'

In [ ]:
if word == 'banana':
  print('All right, bananas')

All right, bananas

In [ ]:
#relational operations
word = 'Pineapple'
if word < 'banana':
  print('Your word, '+word+', comes before banana.')
elif word > 'banana':
  print('Your word, '+word+', comes after banana.')
else:
  print('All right, bananas.')

Your word, Pineapple, comes before banana.

Python does not handle uppercase and lowercase letters the same way people do. All the
uppercase letters come before all the lowercase letters, so

A common way to address this problem is to convert strings to a standard format, such as
all lowercase, before performing the comparison. Keep that in mind in case you have to
defend yourself against a man armed with a Pineapple

In [ ]:
# Debugging
def is_reverse(word1, word2):
  if len(word1) != len(word2):
    return False
  i = 0
  j = len(word2)

  while j>0:
    if word1[i] != word2[j]:
      return False
    i = i+1
    j = j-1
  return True

In [ ]:
is_reverse('pots','stop')

IndexError: ignored

In [ ]:
def is_reverse(word1, word2):
  if len(word1) != len(word2):
    return False
  i = 0
  j = len(word2)

  while j>0:
    print(i, j)
    if word1[i] != word2[j]:
      return False
    i = i+1
    j = j-1
  return True

In [ ]:
is_reverse('pots','stop')

0 4

IndexError: ignored

In [ ]:
def is_reverse(word1, word2):
  if len(word1) != len(word2):
    return False
  i = 0
  j = len(word2)-1

  while j>0:
    if word1[i] != word2[j]:
      return False
    i = i+1
    j = j-1
  return True

In [ ]:
is_reverse('pots','stop')

True

# c9. Case study: Word play: 160
This chapter presents the second case study, which involves solving word puzzles by
searching for words that have certain properties. For example, we’ll find the longest
palindromes in English and search for words whose letters appear in alphabetical order.
And I will present another program development plan: reduction to a previously solved
problem.

# Classes and Objects
Objects will have atrributes(variables) and behaviour(action)

class is like blue print
https://www.youtube.com/watch?v=WIP3-woodlU&list=PLsyeobzWxl7poL9JTVyndKe62ieoN-MZ3&index=54

Object is the subset of class. Class is like a building.

Whenever you try to call an object using method(aka function), __init__ variables will be initialized.

In [ ]:
# want to built a class called 'computer'..with objects
class computer:
  def config(self):        # we usually call this as function..but here 'method'
    print('i5, 16gb, 1TB')

com1 =computer() # com1 is an object of a computer
config()

NameError: ignored

In [ ]:
class computer:
  def config(self):
    print('i5, 16gb, 1TB')

com1 = computer()
computer.config(com1)

i5, 16gb, 1TB

In [ ]:
class computer:
  def config(self):
    print('i5, 16gb, 1TB')

com1 = computer() # com1 is an object under class computer
com2 = computer() # com2 is an another object under class computer
computer.config(com1) # 1 object is doing its action using method 'config'
computer.config(com2) # 2 object is doing its action using method 'config'

i5, 16gb, 1TB
i5, 16gb, 1TB

In [ ]:
class computer:
  def config(self):
    print('i5, 16gb, 1TB')

com1 = computer() # com1 is an object under class computer
com2 = computer() # com2 is an another object under class computer
computer.config(com1) # 1 object is doing its action using method 'config'
computer.config(com2) # 2 object is doing its action using method 'config'

com1.config() # same as computer.config(com1) most used way notation
com2.config() # same as computer.config(com2)

i5, 16gb, 1TB
i5, 16gb, 1TB
i5, 16gb, 1TB
i5, 16gb, 1TB

In [ ]:
a=5
a.bit_length()

3

In [ ]:
# earlier we have worked with methods, we haven't with variables
# 1 varible: type of cpu, 2 varialbe:amount of ram
class computer:

  def __init__(self,cpu,ram): # special method for initializing variables
    self.cpu = cpu  # automatically this method will be called for every object
    self.ram = ram

  def config(self):
    print('coonfig is', self.cpu, self.ram)

com1 = computer('i5', 16) # accept this cpu and ram variables in init by adding there
com2= computer('Ryzen 3', 8)

com1.config()
com2.config()

coonfig is i5 16
coonfig is Ryzen 3 8

## Exercise 9-7, 8,9

# C10. Lists

This chapter presents one of Python’s most useful built-in types: lists. You will also learn
more about objects and what can happen when you have more than one name for the same
object

# A list is Sequence
Like a string, a list is a sequence of values. In a string, the values are characters; in a list,
they can be any type. The values in a list are called elements or sometimes items.
There are several ways to create a new list; the simplest is to enclose the elements in
square brackets ([ and ])

In [ ]:
# list of integers, # List of strings. elements/items are seperated within brackets by commas
[10,20, 30, 40]
['crunchy frog', 'ram bladder','lark vomit', 'LOL']

['crunchy frog', 'ram bladder', 'lark vomit', 'LOL']

In [ ]:
#The following list contains a string, a float, an integer, and (lo!) another list:
['spam', 2.0, 5, [10,20]]

['spam', 2.0, 5, [10, 20]]

A list within another list is nested.
A list that contains no elements is called an empty list; you can create one with empty
brackets, [].

As you might expect, you can assign list values to variables:

In [ ]:
cheese = ['cheddar', 'Edam', 'Gouda']
numbers = [42, 123]
empty = []
print(cheese, numbers, empty)

['cheddar', 'Edam', 'Gouda'] [42, 123] []

## Lists are mutable
The syntax for accessing the elements of a list is the same as for accessing the characters
of a string — the bracket operator. The expression inside the brackets specifies the index.
Remember that the indices start at 0:

In [ ]:
cheese[0]

'cheddar'

In [ ]:
numbers[1]

123

In [ ]:
numbers=[42, 123]

In [ ]:
numbers[1]=5

In [ ]:
numbers #The one-eth element of numbers, which used to be 123, is now 5.
        # Hence lists are MUTABLE

[42, 5]

List indices work the same way as string indices:
Any integer expression can be used as an index.
If you try to read or write an element that does not exist, you get an IndexError.
If an index has a negative value, it counts backward from the end of the list.

The in operator also works on lists:

In [ ]:
cheese

['cheddar', 'Edam', 'Gouda']

In [ ]:
'Edam' in cheese

True

In [ ]:
'Brie' in cheese

False

## Traversing a List
The most common way to traverse the elements of a list is with a for loop. The syntax is
the same as for strings:

In [ ]:
for item in cheese:
  print(item)

cheddar
Edam
Gouda

This works well if you only need to read the elements of the list. But if you want to write
or update the elements, you need the indices. A common way to do that is to combine the
built-in functions range and len:

In [ ]:
for i in range(len(numbers)):
  print(i)
  numbers[i]=numbers[i]+2
  print(numbers)

0
[52, 13]
1
[52, 15]

This loop traverses the list and updates each element. len returns the number of elements
in the list. range returns a list of indices from 0 to n-1, where n is the length of the list.
Each time through the loop, i gets the index of the next element. The assignment
statement in the body uses i to read the old value of the element and to assign the new
value.

Although a list can contain another list, the nested list still counts as a single element. The
length of this list is four:

In [ ]:
Nested_list =['spam', 1, ['Brie', 'Roquefort','Pol le Veq'],[1,2,3]]

In [ ]:
len(Nested_list)

4

In [ ]:
range(len(Nested_list))

range(0, 4)

In [ ]:
for i in range(len(Nested_list)):
  print(i)

0
1
2
3

## List operations
The + operator concatenates lists:
The * operator repeats a list a given number of times:

In [ ]:
a = [1,2,3]
b= [4,5,6]
c= a+b

In [ ]:
c

[1, 2, 3, 4, 5, 6]

In [ ]:
d= [0]*4
d

[0, 0, 0, 0]

In [ ]:
e= [1,2]*2
e

[1, 2, 1, 2]

## List slices
slice operator ':' also works
If you omit the first index, the slice starts at the beginning. If you omit the second, the
slice goes to the end. So if you omit both, the slice is a copy of the whole list

In [ ]:
t=['a','b','c','d','e','f']
t[1:3]

['b', 'c']

In [ ]:
t[:4]

['a', 'b', 'c', 'd']

In [ ]:
t[3:]

['d', 'e', 'f']

Since lists are mutable, it is often useful to make a copy before performing operations that
modify lists.

A slice operator on the left side of an assignment can update multiple elements

In [ ]:
t[:]

['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
t[1:3] =['x', 'y']

In [ ]:
t[:]

['a', 'x', 'y', 'd', 'e', 'f']

## List methods
Python provides methods that operate on lists. For example, append adds a new element to
the end of a list:

In [ ]:
t.append('d')

In [ ]:
t

['a', 'x', 'y', 'd', 'e', 'f', 'd']

In [ ]:
#extend takes a list as an argument and appends all of the elements:
t1=t
t2=['l','o','v','e']

In [ ]:
t1.extend(t2)

In [ ]:
t1

['a', 'x', 'y', 'd', 'e', 'f', 'd', 'l', 'o', 'v', 'e']

In [ ]:
#This example leaves t2 unmodified.
#sort arranges the elements of the list from low to high:
t.sort()

In [ ]:
t

['a', 'd', 'd', 'e', 'e', 'f', 'l', 'o', 'v', 'x', 'y']

Most list methods are void; they modify the list and return None. If you accidentally write
t = t.sort(), you will be disappointed with the result

In [ ]:
t=t.sort()

In [ ]:
t

In [ ]:
type(t)

NoneType

## Map, Filter, Reduce
To add up all the numbers in a list, you can use a loop like this:

In [ ]:
def add_all(t):
  total =0
  for x in t:
    total += x
  return total

In [ ]:
t=[1,2,3,4,5,6]
t

[1, 2, 3, 4, 5, 6]

In [ ]:
add_all(t)

21

total is initialized to 0. Each time through the loop, x gets one element from the list. The
+= operator provides a short way to update a variable. This augmented assignment
statement

As the loop runs, total accumulates the sum of the elements; a variable used this way is
sometimes called an accumulator.
Adding up the elements of a list is such a common operation that Python provides it as a
built-in function, sum

In [ ]:
t=[1,2,3]

In [ ]:
sum(t)

6

An operation like this that combines a sequence of elements into a single value is
sometimes called reduce.

In [ ]:
#capitalize strings
def capitalize_all(t):
  res =[]
  for s in t:
    res.append(s.capitalize())
  return res

In [ ]:
capitalize_all('curious soul')

['C', 'U', 'R', 'I', 'O', 'U', 'S', ' ', 'S', 'O', 'U', 'L']

res is initialized with an empty list; each time through the loop, we append the next
element. So res is another kind of accumulator.
An operation like capitalize_all is sometimes called a map because it “maps” a
function (in this case the method capitalize) onto each of the elements in a sequence.

In [ ]:
def only_upper(t):
  res =[]
  for s in t:
    if s.isupper():
      res.append(s)
  return res

In [ ]:
only_upper('cUriouS souL')

['U', 'S', 'L']

isupper is a string method that returns True if the string contains only uppercase letters.
An operation like only_upper is called a filter because it selects some of the elements and
filters out the others.

## Deleting Elements
There are several ways to delete elements from a list. If you know the index of the element
you want, you can use pop:

In [ ]:
t = ['a','b','c']

In [ ]:
x = t.pop(1)

In [ ]:
x

'b'

In [ ]:
t

['a', 'c']

In [ ]:
x=t.pop()

In [ ]:
x

'c'

pop modifies the list and returns the element that was removed. If you don’t provide an
index, it deletes and returns the last element.
If you don’t need the removed value, you can use the del operator

In [ ]:
t =['a','b','c']

In [ ]:
del t[1]
t

['a', 'c']

If you know the element you want to remove (but not the index), you can use remove:

In [ ]:
t=['a','b','c']

In [ ]:
t.remove('b')

In [ ]:
t

['a', 'c']

The return value from remove is None.
To remove more than one element, you can use del with a slice index:

In [ ]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
del t[1:5]

In [ ]:
t

['a', 'f']

## Lists and Strings
A string is a sequence of characters and a list is a sequence of values, but a list of
characters is not the same as a string. To convert from a string to a list of characters, you
can use list

In [ ]:
s = 'spam'
t = list(s)
t

['s', 'p', 'a', 'm']

The list function breaks a string into individual letters. If you want to break a string into
words, you can use the split method:

In [ ]:
s = 'Hey, How are you doing?'
t = s.split()
t

['Hey,', 'How', 'are', 'you', 'doing?']

An optional argument called a delimiter specifies which characters to use as word
boundaries. The following example uses a hyphen as a delimiter:

In [ ]:
s='I am doing great duh'
delimiter= ' ' # Here the delimiter is space
t = s.split(delimiter)
t

['I', 'am', 'doing', 'great', 'duh']

join is the inverse of split. It takes a list of strings and concatenates the elements. join
is a string method, so you have to invoke it on the delimiter and pass the list as a
parameter:

In [ ]:
delimiter = ' '
s= delimiter.join(t)

In [ ]:
s

'I am doing great duh'

## Objects and Values
If we run these assignment statements:
a= 'banana'
b='banana'
In one case, a and b refer to two different objects that have the same value. In the second
case, they refer to the same object.

In [ ]:
a = 'banana'
b = 'banana'
a is b

True

Until now, we have been using “object” and “value” interchangeably, but it is more precise
to say that an object has a value. If you evaluate [1, 2, 3], you get a list object whose
value is a sequence of integers. If another list has the same elements, we say it has the
same value, but it is not the same object

## Aliasing
If a refers to an object and you assign b = a, then both variables refer to the same object

In [ ]:
a= [1,2,3]
b=a
b is a

True

The association of a variable with an object is called a reference. In this example, there
are two references to the same object.
An object with more than one reference has more than one name, so we say that the object
is aliased.
If the aliased object is mutable, changes made with one alias affect the other

In [ ]:
b[0]=42
a

[42, 2, 3]

Although this behavior can be useful, it is error-prone. In general, it is safer to avoid
aliasing when you are working with mutable objects.
For immutable objects like strings, aliasing is not as much of a problem

## List Arguments

When you pass a list to a function, the function gets a reference to the list. If the function
modifies the list, the caller sees the change. For example, delete_head removes the first
element from a list:

In [ ]:
def delete_head(t):
  del t[0]

In [ ]:
delete_head(t)

In [ ]:
t

[]

In [ ]:
s='abc'
t=list(s)

In [ ]:
t

['a', 'b', 'c']

In [ ]:
delete_head(t)
t

['b', 'c']

It is important to distinguish between operations that modify lists and operations that
create new lists. For example, the append method modifies a list, but the + operator creates
a new list:

In [ ]:
t1 = [1,2]
t2 = t1.append(3)

In [ ]:
t1

[1, 2, 3]

In [ ]:
t2

In [ ]:
type(t2)

NoneType

In [ ]:
# append modifies the list and returns None
t3 = t1 + [4]

In [ ]:
t1

[1, 2, 3]

In [ ]:
t3

[1, 2, 3, 4]

In [ ]:
def tail(t):
  return t[1:]

letters = ['a', 'b', 'c']
rest = tail(letters)
rest

['b', 'c']

## Debugging
Careless use of lists (and other mutable objects) can lead to long hours of debugging. Here
are some common pitfalls and ways to avoid them:
1. Most list methods modify the argument and return None. This is the opposite of the
string methods, which return a new string and leave the original alone.
If you are used to writing string code like this:
word = word.strip()
It is tempting to write list code like this:
t = t.sort() # WRONG!
Because sort returns None, the next operation you perform with t is likely to fail.
Before using list methods and operators, you should read the documentation
carefully and then test them in interactive mode.
2. Pick an idiom and stick with it.
Part of the problem with lists is that there are too many ways to do things. For
example, to remove an element from a list, you can use pop, remove, del, or even a
slice assignment.
To add an element, you can use the append method or the + operator. Assuming that
t is a list and x is a list element, these are correct:
t.append(x)
t = t + [x]
t += [x]
And these are wrong:
t.append([x]) # WRONG
t = t.append(x) # WRONG!
t + [x] # WRONG!
t = t + x # WRONG!
Try out each of these examples in interactive mode to make sure you understand
what they do. Notice that only the last one causes a runtime error; the other three are
legal, but they do the wrong thing.
3. Make copies to avoid aliasing.
If you want to use a method like sort that modifies the argument, but you need to
keep the original list as well, you can make a copy:
In this example you could also use the built-in function sorted, which returns a new,
sorted list and leaves the original alone:

In [ ]:
t = [3, 1, 2]

In [ ]:
t2 = t[:]

In [ ]:
t2.sort()

In [ ]:
t2

[1, 2, 3]

In [ ]:
t

[3, 1, 2]

# C11. Dictionaries
 Dictionaries are one of
Python’s best features; they are the building blocks of many efficient and elegant
algorithms.

## A dictionary is Mapping
A dictionary is like a list, but more general. In a list, the indices have to be integers; in a
dictionary they can be (almost) any type.

A dictionary contains a collection of indices, which are called keys, and a collection of
values. Each key is associated with a single value. The association of a key and a value is
called a key-value pair or sometimes an item.
In mathematical language, a dictionary represents a mapping from keys to values, so you
can also say that each key “maps to” a value. As an example, we’ll build a dictionary that
maps from English to Spanish words, so the keys and the values are all strings.
The function dict creates a new dictionary with no items. Because dict is the name of a
built-in function, you should avoid using it as a variable name.

In [ ]:
eng2sp = dict()
eng2sp

{}

The squiggly brackets, {}, represent an empty dictionary. To add items to the dictionary,
you can use square brackets

In [ ]:
eng2sp['one'] = 'uno'

In [ ]:
eng2sp

{'one': 'uno'}

This line creates an item that maps from the key 'one' to the value 'uno'. If we print the
dictionary again, we see a key-value pair with a colon between the key and value

In [ ]:
eng2sp = {'one':'uno', 'two':'dos', 'three':'tres'}

In [ ]:
eng2sp

{'one': 'uno', 'three': 'tres', 'two': 'dos'}

In [ ]:
eng2sp

{'one': 'uno', 'three': 'tres', 'two': 'dos'}

The order of the key-value pairs might not be the same. If you type the same example on
your computer, you might get a different result. In general, the order of items in a
dictionary is unpredictable.

But that’s not a problem because the elements of a dictionary are never indexed with
integer indices. Instead, you use the keys to look up the corresponding values

In [ ]:
eng2sp['two']

'dos'

In [ ]:
eng2sp['four']

KeyError: ignored

In [ ]:
len(eng2sp) # Gives no of keys in the dict

3

In [ ]:
# IN 
'one' in eng2sp # if key present..True

True

In [ ]:
'uno' in eng2sp

False

To see whether something appears as a value in a dictionary, you can use the method
values, which returns a collection of values, and then use the in operator

In [ ]:
vals = eng2sp.values()
'uno' in vals

True

The in operator uses different algorithms for lists and dictionaries. For lists, it searches the
elements of the list in order, as in “Searching”. As the list gets longer, the search time gets
longer in direct proportion.

For dictionaries, Python uses an algorithm called a hashtable that has a remarkable
property: the in operator takes about the same amount of time no matter how many items
are in the dictionary. I explain how that’s possible in “Hashtables”, but the explanation
might not make sense until you’ve read a few more chapters

## Dictionary as a collection of counters
Suppose you are given a string and you want to count how many times each letter appears.
There are several ways you could do it:
1. You could create 26 variables, one for each letter of the alphabet. Then you could
traverse the string and, for each character, increment the corresponding counter,
probably using a chained conditional.
2. You could create a list with 26 elements. Then you could convert each character to a
number (using the built-in function ord), use the number as an index into the list,
and increment the appropriate counter.
3. You could create a dictionary with characters as keys and counters as the
corresponding values. The first time you see a character, you would add an item to
the dictionary. After that you would increment the value of an existing item.
Each of these options performs the same computation, but each of them implements that
computation in a different way.
An implementation is a way of performing a computation; some implementations are
better than others. For example, an advantage of the dictionary implementation is that we
don’t have to know ahead of time which letters appear in the string and we only have to
make room for the letters that do appear.

In [ ]:
def histogram(s):
  d = dict()
  for c in s:
    if c not in d:
      d[c] = 1
    else:
      d[c] += 1
  return d

In [ ]:
histogram('bronotosaurus')

{'a': 1, 'b': 1, 'n': 1, 'o': 3, 'r': 2, 's': 2, 't': 1, 'u': 2}

The name of the function is histogram, which is a statistical term for a collection of
counters (or frequencies).

The first line of the function creates an empty dictionary. The for loop traverses the string.
Each time through the loop, if the character c is not in the dictionary, we create a new item
with key c and the initial value 1 (since we have seen this letter once). If c is already in the
dictionary we increment d[c].

In [ ]:
h =histogram('curious soul')

In [ ]:
h

{' ': 1, 'c': 1, 'i': 1, 'l': 1, 'o': 2, 'r': 1, 's': 2, 'u': 3}

In [ ]:
h.get('s')

2

## Looping and Dictionaries
If you use a dictionary in a for statement, it traverses the keys of the dictionary. For
example, print_hist prints each key and the corresponding value

In [ ]:
def print_hist(h):
  for c in h:
    print(c, h[c])

In [ ]:
h=histogram('parrot')

In [ ]:
h

{'a': 1, 'o': 1, 'p': 1, 'r': 2, 't': 1}

In [ ]:
print_hist(h)

p 1
a 1
r 2
o 1
t 1

In [ ]:
print_hist(h)

p 1
a 1
r 2
o 1
t 1

In [ ]:
for key in sorted(h):
  print(key, h[key])

a 1
o 1
p 1
r 2
t 1

## Reverse Lookup

Given a dictionary d and a key k, it is easy to find the corresponding value v = d[k]. This
operation is called a lookup.
But what if you have v and you want to find k? You have two problems: first, there might
be more than one key that maps to the value v. Depending on the application, you might
be able to pick one, or you might have to make a list that contains all of them. Second,
there is no simple syntax to do a reverse lookup; you have to search.
Here is a function that takes a value and returns the first key that maps to that value

In [ ]:
def reverse_lookup(d,v):
  for k in d:
    if d[k] == v:
      return k
  raise LookupError()

This function is yet another example of the search pattern, but it uses a feature we haven’t
seen before: raise. The raise statement causes an exception; in this case it causes a
LookupError, which is a built-in exception used to indicate that a lookup operation failed.

In [ ]:
h = histogram('parrot')

In [ ]:
k = reverse_lookup(h, 2)

In [ ]:
k

'r'

In [ ]:
k=reverse_lookup(h,3)

LookupError: ignored

In [ ]:
#raise LookupError('value does not appear in the dictionary')
#A reverse lookup is much slower than a forward lookup; if you have to do it often, or if the
#dictionary gets big, the performance of your program will suffer

## Dictionaries and Lists

In [ ]:
def invert_dict(d):
  inverse = dict()
  for key in d:
    val = d[key]
    if val not in inverse:
      inverse[val] = [key]
      print('inverse of val', inverse[val])
    else:
      inverse[val].append(key)
    return inverse

In [ ]:
hist = histogram('parrot')

In [ ]:
hist

{'a': 1, 'o': 1, 'p': 1, 'r': 2, 't': 1}

In [ ]:
inverse= invert_dict(hist)

inverse of val ['p']

In [ ]:
inverse

{1: ['p']}

In [ ]:
hist2 =histogram('curioussoul')

In [ ]:
hist2

{'c': 1, 'i': 1, 'l': 1, 'o': 2, 'r': 1, 's': 2, 'u': 3}

In [ ]:
inverse2=invert_dict(hist2)

inverse of val ['c']

In [ ]:
inverse2 # Result not matching with text book: page no:204

{1: ['c']}

Each time through the loop, key gets a key from d and val gets the corresponding value. If
val is not in inverse, that means we haven’t seen it before, so we create a new item and
initialize it with a singleton (a list that contains a single element). Otherwise we have seen
this value before, so we append the corresponding key to the list.

In [ ]:
#Lists can be values in a dictionary, as this example shows, but they cannot be keys. Here’s
#what happens if you try:
t = [1,2,3]
d=dict()
d[t] ='oops'

TypeError: ignored

I mentioned earlier that a dictionary is implemented using a hashtable and that means that
the keys have to be hashable.
A hash is a function that takes a value (of any kind) and returns an integer. Dictionaries
use these integers, called hash values, to store and look up key-value pairs.
This system works fine if the keys are immutable. But if the keys are mutable, like lists,
bad things happen. For example, when you create a key-value pair, Python hashes the key
and stores it in the corresponding location. If you modify the key and then hash it again, it
would go to a different location. In that case you might have two entries for the same key,
or you might not be able to find a key. Either way, the dictionary wouldn’t work correctly.
That’s why keys have to be hashable, and why mutable types like lists aren’t. The simplest
way to get around this limitation is to use tuples, which we will see in the next chapter.
Since dictionaries are mutable, they can’t be used as keys, but they can be used as values

## Memos
If you played with the fibonacci function from “One More Example”, you might have
noticed that the bigger the argument you provide, the longer the function takes to run.
Furthermore, the runtime increases quickly.
![image.png]()

A call graph shows a set of function frames, with lines connecting each frame to the
frames of the functions it calls. At the top of the graph, fibonacci with n=4 calls
fibonacci with n=3 and n=2. In turn, fibonacci with n=3 calls fibonacci with n=2 and
n=1. And so on.

Count how many times fibonacci(0) and fibonacci(1) are called. This is an inefficient
solution to the problem, and it gets worse as the argument gets bigger.

One solution is to keep track of values that have already been computed by storing them in
a dictionary. A previously computed value that is stored for later use is called a memo.
Here is a “memoized” version of fibonacci:

In [ ]:
known ={0:0, 1:1}
def fibonacci(n):
  if n in known:
    return known[n]
  res = fibonacci(n-1) + fibonacci(n-2)
  known[n] = res
  return res

In [ ]:
fibonacci(4)

3

In [ ]:
fibonacci(120)

5358359254990966640871840

In [ ]:
fibonacci(125)       # yay......wooooooow

59425114757512643212875125

known is a dictionary that keeps track of the Fibonacci numbers we already know. It starts
with two items: 0 maps to 0 and 1 maps to 1.
Whenever fibonacci is called, it checks known. If the result is already there, it can return
immediately. Otherwise it has to compute the new value, add it to the dictionary, and
return it.
If you run this version of fibonacci and compare it with the original, you will find that it
is much faster

## Global Variables

In the previous example, known is created outside the function, so it belongs to the special
frame called __main__. Variables in __main__ are sometimes called global because they
can be accessed from any function. Unlike local variables, which disappear when their
function ends, global variables persist from one function call to the next.
It is common to use global variables for flags; that is, boolean variables that indicate
(“flag”) whether a condition is true. For example, some programs use a flag named
verbose to control the level of detail in the output:

In [ ]:
been_called = False
def example2():
  been_called = True       # wrong

In [ ]:
been_called

False

If you try to reassign a global variable, you might be surprised. The following example is
supposed to keep track of whether the function has been called:

The global statement tells the interpreter something like, “In this function, when I say
been_called, I mean the global variable; don’t create a local one

In [ ]:
count =0
def example3():
  count = count+1

In [ ]:
example3()

UnboundLocalError: ignored

In [ ]:
#Python assumes that count is local, and under that assumption you are reading it before
#writing it. The solution, again, is to declare count global:
count =1
def example3():
  global count
  count += 1

In [ ]:
example3()

In [ ]:
type(example3)

function

If a global variable refers to a mutable value, you can modify the value without declaring
the variable:

In [ ]:
known ={0:0, 1:1}
def example4():
  known[2] =1

In [ ]:
example4()

In [ ]:
known

{0: 0, 1: 1, 2: 1}

Global variables can be useful, but if you have a lot of them, and you modify them
frequently, they can make programs hard to debug

# C12. Tuples Page. No: 216